<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <%= include_css %>

  </head>

  <body>
    <h1>Blog de Pat <img src="/images/rock-you.png" /></h1>
    <%= yield %>

    <%= include_javascript %>
  </body>
</html>